.container{
    min-width: 576px;
    width: 60vw;
    max-width: 900px;
   margin: 20px auto;
}
.gridbox1{
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    
}
.gridbox2{
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

img{
    max-width: 100%;
}